services:
  web:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: cassetfran
      DB_PASS: 03/10/2025
      DB_NAME: cassetfran_bdd
    depends_on:
      - db

  db:
    image: mysql:8.3.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: cassetfran_bdd
      MYSQL_USER: cassetfran
      MYSQL_PASSWORD: 03/10/2025
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data:/var/lib/mysql
      - ./BDDs/dump2.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  db_data:
