* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background: #EEF;
    padding: 20px 40px 20px 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-music-base: #9C27B0;
    --color-music-dark: #4A148C;
    --color-music-light: #E1BEE7;
    --color-chat-base: #4CAF50;
    --color-chat-dark: #1B5E20;
    --color-chat-light: #C8E6C9;
    --color-game-base: #2196F3;
    --color-game-dark: #1A237E;
    --color-game-light: #BBDEFB;
    --color-galerie-base: #FFEB3B;
    --color-galerie-dark: #F57F17;
    --color-galerie-light: #FFF9C4;
    --color-calendar-base: #F44336;
    --color-calendar-dark: #B71C1C;
    --color-calendar-light: #FFCDD2;
    --color-movie-base: #FF9800;
    --color-movie-dark: #E65100;
    --color-movie-light: #FFE0B2;
}

.musics {
    border: var(--color-music-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-music-light), var(--color-music-base));
}

.games {
    border: var(--color-game-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-game-light), var(--color-game-base));
}

.chat {
    border: var(--color-chat-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-chat-light), var(--color-chat-base));
}

.galerie {
    border: var(--color-galerie-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-galerie-light), var(--color-galerie-base));
}

.calendar {
    border: var(--color-calendar-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-calendar-light), var(--color-calendar-base));
}

.movies {
    border: var(--color-movie-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-movie-light), var(--color-movie-base));
}