* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background: #EEF;
    padding: 20px 40px 20px 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background: none;
    border-radius: 8px;
}

.btn:hover {
    background: #DDD;
}

main {
    display: flex;
    justify-content: center;
}

.container-connexion {
    display: flex;
    border-radius: 10px;
    background: skyblue;
    width: 50%;
    margin-top: 50px;
    flex-direction: column;
    padding: 40px;
}

.container-connexion > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-connexion form {
    font-size: 20px;
}

.container-connexion label {
    padding: 30px 0 10px 0;
}

.container-connexion input {
    background: deepskyblue;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

.button-connexion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.button-connexion > * {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 150px;
}













:root {
    --color-music-base: #9C27B0;
    --color-music-dark: #4A148C;
    --color-music-light: #E1BEE7;
    --color-game-base: #4CAF50;
    --color-game-dark: #1B5E20;
    --color-game-light: #C8E6C9;
    --color-chat-base: #2196F3;
    --color-chat-dark: #1A237E;
    --color-chat-light: #BBDEFB;
    --color-galerie-base: #FFEB3B;
    --color-galerie-dark: #F57F17;
    --color-galerie-light: #FFF9C4;
    --color-calendar-base: #F44336;
    --color-calendar-dark: #B71C1C;
    --color-calendar-light: #FFCDD2;
    --color-movie-base: #FF9800;
    --color-movie-dark: #E65100;
    --color-movie-light: #FFE0B2;
}

.musics {
    border: var(--color-music-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-music-light), var(--color-music-base));
}

.games {
    border: var(--color-game-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-game-light), var(--color-game-base));
}

.chat {
    border: var(--color-chat-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-chat-light), var(--color-chat-base));
}

.galerie {
    border: var(--color-galerie-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-galerie-light), var(--color-galerie-base));
}

.calendar {
    border: var(--color-calendar-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-calendar-light), var(--color-calendar-base));
}

.movies {
    border: var(--color-movie-dark) solid 2px;
    background: linear-gradient(135deg, var(--color-movie-light), var(--color-movie-base));
}